body{
  font-family: 'Work Sans';
  font-weight: 400;
}

hr{
  border-top-style: dotted;
  border-color: #9e9d89;
  border-width: 5px;
  width: 7%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
a{
  text-decoration: none;
}

/* Header Styling Starts Here */
.navbar-brand{
  font-size: 2.5rem;
}
#header-container{
  background-color: #5eaaa8;
  padding: 3% 10% 1%;
}
/* Header Styling Ends Here */

/* Landing Page Styling Starts Here */

.banner-container{
  margin: 1rem 0 1rem 0;
}

.banner-container img{
    width: 90%;
    height: calc(40vh - 100px); 
    border-radius: 20px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-text{
  margin: 1.5rem;
  padding: 0.5 1rem;
  color: #050505;
}

.main-text h1{
  font-size: 1.2rem;
  text-align: center ;
  padding-bottom: 0.5rem;
}

.main-text p{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
}

.main-text ul{
  font-size: 0.8rem;
  text-align: justify;
}
/* Landing Page Styling Ends Here */

/* Help */

.help-container{
  background-color: #f7f3e9;
  padding: 5% 8% 3%;
  line-height: 2rem;
  font-size: 2.5rem;
  padding: 1em;
}

/* About Us */
.about-container h2{
    font-size: 2rem;
    color: #050505;
}

.about-container p {
    font-size: 1rem;
    color: #050505;
    text-align:justify;
}

/* Contacts */
.contacts-container{
  line-height: 1.5em;
}
.contacts-container h2{
  font-size: 2rem;
  color: #050505;
  padding-bottom: 1em;
  padding-top: 1rem;
  text-align: left;
}

.contacts-container h3{
  font-size: 1.5rem;
  text-align: start;
  color: #050505;
}

.contacts-container p {
  font-size: 1rem;
  color: #050505;
}

/* FAQ */

.faq-container h2{
  font-size: 1.5rem;
  color: #050505;
  padding-bottom: 1rem;
}

.faq-text{
  border: 3px solid #111;
  padding: 1rem;
  margin: 1rem 0rem;
  background-color: #fff;
}

.faq-text h3{
  font-size: 1rem;
  text-decoration: underline;
  color: #050505;
}

.faq-container p {
  font-size: 1rem;
  color: #050505;
  padding-top: 1rem;
  text-align: justify;
}

/* CSE Coverage Styling Starts Here */
h2, h3{
  text-align: center;
}
#questionnaire-main-container{
  background-color: #f7f3e9;
  padding: 5% 8% 3%;
}
.btn-exam{
  text-align: center;
  margin-top: 3rem;
}
#questionnaire-main-container h2, #questionnaire-main-container h3{
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
}
#questionnaire-main-container h4{
  font-size: 1.3rem;
}
#questionnaire-main-container ul{
  font-size: 1.2rem;
}
.btn-exam h5{
  font-size: 1.2rem;
}
.btn-exam button{
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
/* CSE Coverage Styling Ends Here */

/* Forms Styling Starts Here */

.forms-container{
  background-color: #f7f3e9;
  padding: 5% 8% 3%;
}
#forms-header{
  font-size: 1.2rem;
  text-align: center;
  color: #111;
}  
#forms p{
  font-size: 1rem;
}
.forms-container button{
  width: 16rem;
  padding: 0.5rem;
  border: 1px solid #111;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.forms-container button:focus{
  outline: 0px;
}
.forms-container button:hover{
  cursor: pointer;
  background-color: #57636e;
}
.forms-container input{
  width: 16rem;
  font-size: 1rem;
  margin: 0.5rem 2.5rem 1rem 0rem;
  padding: 0.8rem;
  border: 1px solid #111;
  border-radius: 50px;
}
.forms-container input:focus{
  outline: 0px;
}

/* Forms Styling Ends Here */

/* Quiz Styling Starts Here */

.grid{
  background-color: #f7f3e9;
  padding: 1.5rem 0rem 1.5rem 0rem;
  text-align: center;
  line-height: 2rem;
  font-size: 2rem;
}

.grid h2{
  background-color: #57636e;
  font-size: 2em;
  text-align: center;
  color: #fff;
  padding: 1rem 0px;
  border-radius: 50px;
  margin: 0px 1.5rem 0px 1.5rem;
}

#question{
  font-size: 1.5rem;
  color: #111;
  text-align: center;
  padding: 1rem;
}

.buttons{
  text-align: center;
}

#btn0, #btn1, #btn2, #btn3{
  background-color: #778897;
  width: 16rem;
  font-size: 1rem;
  color: #fff;
  border: 1px solid #111;
  border-radius: 30px;
  margin: 0.5rem 0rem;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
  cursor: pointer;
  background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus{
  outline: 0px;
}

#score{
  color: #111;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}
#btnOp {
  background-color: #778897;
  width: 16rem;
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid #111;
  border-radius: 50px;
  margin: 2.5rem 0rem 0.5rem 0rem;
  padding: 0.8rem;
}

#btnOp:hover{
  cursor: pointer;
  background-color: #57636e;
}

#btnOp:focus{
  outline: 0px;
}


#progress{
  color: #111;
  font-size: 1.5rem;
  text-align: center;
}
/* Quiz Styling Ends Here */

/* Reviewer Styling Starts Here */

.reviewer-container{
  background-color: #f7f3e9;
  padding: 5% 8% 3%;
  line-height: 2rem;
  font-size: 2.5rem;
}

.reviewer-links-h2{
  font-size: 2rem;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.5rem;
}

.reviewer-links {
  display: block;
  text-align: center;
  /* centralize the content */
}
.reviewer-links a {
  text-decoration: none;
}

.reviewer-img img {
  width: 40%;
  padding: 0.5rem;
  border-radius: 20px;
}

/* Reviewer Styling Ends Here */

/* Footer Styling Starts Here */
#footer-container{
  background-color: #536162;
  text-align: center;
  padding: 7% 15% 3%;
  line-height: 2.5rem;
}
/* Footer Styling Ends Here */

/* Design - Responsive */
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    
  /* Header Styling Starts Here */
  #header-container{
    font-size: 2rem;
  }
  .nav-item a{
    font-size: 1.5rem;
  }
  /* Header Styling Ends Here */
  
  /* Landing Page Styling Starts Here */
  
  .banner-container{
    margin: 0px auto 0px auto;
  }
  
  .banner-container img{
      width: 90%;
      height: calc(50vh - 100px); 
      border-radius: 0px 0px 30px 30px;
  
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .main-text{
    margin: 1.5rem;
    padding: 1.5rem 1.5rem;
    color: #050505;
  }
  
  .main-text h1{
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .main-text p{
      text-align: justify;
      font-size: 1.3rem;
      line-height: 2rem;
  }
  
  .main-text ul{
    font-size: 1.2rem;
    text-align: justify;
  }


  /* Landing Page Styling Ends Here */
  
  /* Help */
  
  .help-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  
  /* About Us */


  .about-container h2{
      font-size: 2.5rem;
      padding-bottom: 1.5rem;
  }
  
  .about-container p {
      font-size: 1.5rem;
      padding-top: 1.5rem;
  }
  
  /* Contacts */
  
  .contacts-container h2{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  
  .contacts-container h3{
    font-size: 1.8rem;
  }
  
  .contacts-container p {
    font-size: 1.5rem;
      padding-top: 1.5rem;
  }
  
  /* FAQ */
  
  .faq-container h2{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  
  .faq-text{
    margin: 1.5rem 0;
  }
  
  .faq-text h3{
    font-size: 1.8rem;
  }
  
  .faq-container p {
    font-size: 1.5rem;
      padding-top: 1.5rem;
  }
  
  /* CSE Coverage Styling Starts Here */
  #questionnaire-main-container h2, #questionnaire-main-container h3{
    font-size: 2.5rem;
    padding-bottom: 0.8rem;
  }
  #questionnaire-main-container h4{
    font-size: 1.8rem;
  }
  #questionnaire-main-container ul{
    font-size: 1.5rem;
  }
  .btn-exam h5{
    font-size: 1.5rem;
  }
  .btn-exam button{
    margin-top: 0.8rem;
    font-size: 1.5rem;
  }
  /* CSE Coverage Styling Ends Here */
  
  /* Forms Styling Starts Here */
  .forms-container{
    text-align: start;
  }
  #forms-header{
    font-size: 1.5rem;
  }  
  #forms p{
    font-size: 1.2rem;
  }
  .forms-container button{
    width: 20rem;
    margin: 0 2.5rem 1.5rem 0;
    padding: 0.5rem;
    border: 2px solid #111;
    font-size: 1.2rem;
  }
  .forms-container input{
    width: 20rem;
    font-size: 1,2rem;
    margin: 0 2.5rem 1.5rem 0;
    border: 2px solid #111;
  }
  /* Forms Styling Ends Here */
  
  /* Quiz Styling Starts Here */
  
  a{
    text-decoration: none;
  }
  
  .grid{
    padding: 1rem 1.5rem 3rem 1.5rem;
  }
  
  .grid h2{
    font-size: 3rem;
  }
  
  #question{
    font-size: 1.5rem;
  }
  
  #btn0, #btn1, #btn2, #btn3{
    width: 20rem;
    font-size: 1rem;
    border-radius: 30px;
  }
  
  #score{
    color: #111;
    text-align: center;
    font-size: 3rem;
    margin: 4rem 0px;
  }
  #btnOp {
    background-color: #778897;
    width: 25rem;
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid #111;
    border-radius: 50px;
    margin: 0px 1.5rem 1.2rem 1.5rem;
    padding: 1.5rem;
    text-align: center;
  }
  
  #progress{
    font-size: 1.8rem;
  }
  
  /* Quiz Styling Ends Here */
  
  /* Reviewer Styling Starts Here */
  
  .reviewer-links-h2{
    font-size: 3rem;
    padding-top: 1.8rem;
  }
  
  .reviewer-links {
    padding: 1.8rem 0px 1.8rem 0px;
    /* centralize the content */
  }
  
  /* Reviewer Styling Ends Here */
  
  /* Footer Styling Starts Here */
  #footer-container h2{
    font-size: 3rem;
  }
  #footer-container a{
    font-size: 1.5rem;
  }
  #footer-container p{
    font-size: 1rem;
  }
  /* Footer Styling Ends Here */
  }
  
  /* Design - Responsive */
  @media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  /* Header Styling Starts Here */
  .navbar-brand{
    font-size: 2.5rem;
  }
  #header-container{
    background-color: #5eaaa8;
    padding: 3% 10% 1%;
  }
  /* Header Styling Ends Here */
  
  /* Landing Page Styling Starts Here */
  
  .banner-container{
    margin: 0px auto 0px auto;
  }
  
  .banner-container img{
      width: 90%;
      height: calc(60vh - 100px); 
      border-radius: 0px 0px 30px 30px;
  
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .main-text{
    line-height: 3rem;
    margin: 1.5rem 2.2rem 1.5rem 2.2rem;
    padding: 1.3rem;
    color: #050505;

  }
  
  .main-text h1{
    font-size: 2.2rem;
    text-align: center ;
    padding-bottom: 1.5rem;
  }
  
  .main-text p{
      text-align: justify;
      font-size: 1.8rem;
      line-height: 3rem;
  }
  
  .main-text ul{
    font-size: 1.5rem;
    text-align: justify;
  }
  /* Landing Page Styling Ends Here */
  
  /* Help */
  
  .help-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  
  /* About Us */
  
  .about-container h2{
      font-size: 3rem;
      padding-bottom: 1rem;
  }
  
  .about-container p {
      font-size: 1.5rem;
      padding-top: 1rem;
  }
  
  /* Contacts */
  
  .contacts-container h2{
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .contacts-container h3{
    font-size: 2rem;
  }
  
  .contacts-container p {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  
  /* FAQ */
  
  .faq-container h2{
    font-size: 3rem;
    color: #050505;
    padding-bottom: 0.8rem;
  }
  
  .faq-text{
    border: 3px solid #111;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #fff;
  }
  
  .faq-text h3{
    font-size: 1.5rem;
    text-decoration: underline;
    color: #050505;
  }
  
  .faq-container p {
    font-size: 1.2rem;
    color: #050505;
    padding-top: 0.8rem;
    text-align: justify;
  }
  
  /* CSE Coverage Styling Starts Here */
  h2, h3{
    text-align: center;
  }
  #questionnaire-main-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  .btn-exam{
    text-align: center;
    margin-top: 3rem;
  }
  /* CSE Coverage Styling Ends Here */
  
  /* Forms Styling Starts Here */
  
  .forms-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  #forms-header{
    font-size: 1.5rem;
    text-align: center;
    color: #111;
  }  
  #forms p{
    font-size: 1.2rem;
  }
  .forms-container button{
    width: 20rem;
    margin: 0.5rem 2.8rem 0 0;
    padding: 0.5rem;
    border: 1px solid #111;
    border-radius: 50px;
  }
  .forms-container button:focus{
    outline: 0px;
  }
  .forms-container button:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  .forms-container input{
    width: 20rem;
    font-size: 1rem;
    margin: 0.5rem 2.5rem 1rem 0;
    padding: 0.8rem;
    border: 1px solid #111;
    border-radius: 50px;
  }
  .forms-container input:focus{
    outline: 0px;
  }
  
  /* Forms Styling Ends Here */
  
  /* Quiz Styling Starts Here */
  
  .prof-level-container{
    background-color: #f7f3e9;
    padding: 0% 0% 0%;
  }
  
  .grid{
    background-color: #f7f3e9;
    padding: 0.8rem 0 3rem 0;
    border-radius: 0px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
  }
  
  .grid h2{
    background-color: #57636e;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 0.8rem 0;
    border-radius: 50px;
    margin: 0 1rem 0 1rem;
  }
  
  #question{
    font-size: 1.5rem;
    color: #111;
    text-align: center;
    padding: 0 1rem 0 1rem;
  }
  
  .buttons{
    text-align: center;
  }
  
  #btn0, #btn1, #btn2, #btn3{
    background-color: #778897;
    width: 20rem;
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid #111;
    border-radius: 30px;
    margin: 0.8rem 0.8rem 0.8rem 0.8rem;
    padding: 1rem;
  }
  
  #btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  
  #btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus{
    outline: 0px;
  }
  
  #score{
    color: #111;
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
  }
  #btnOp {
    background-color: #778897;
    width: 20rem;
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid #111;
    border-radius: 50px;
    margin: 1.5rem 1rem 0.8rem 1rem;
    padding: 1rem;
    text-align: center;
  }
  
  #btnOp:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  
  #btnOp:focus{
    outline: 0px;
  }
  
  
  #progress{
    color: #111;
    font-size: 2rem;
    text-align: center;
  }
  /* Quiz Styling Ends Here */
  
  /* Reviewer Styling Starts Here */
  
  .reviewer-container{
    background-color: #f7f3e9;
  }
  
  .reviewer-links-h2{
    font-size: 3rem;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
  }
  
  .reviewer-links {
    display: block;
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    /* centralize the content */
  }
  .reviewer-links a {
    text-decoration: none;
  }
  
  .reviewer-img img {
    width: 25%;
    padding: 0.8rem 0.8rem;
    border-radius: 20px;
  }
  
  /* Reviewer Styling Ends Here */
  
  /* Footer Styling Starts Here */
  #footer-container{
    background-color: #536162;
    text-align: center;
    padding: 7% 15% 3%;
    line-height: 2.5rem;
  }
  /* Footer Styling Ends Here */
  }
  
  /* Design - Responsive */
  @media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */
  
  /* Header Styling Starts Here */
  .navbar-brand{
    font-size: 2.5rem;
  }
  #header-container{
    background-color: #5eaaa8;
    padding: 3% 10% 1%;
  }
  /* Header Styling Ends Here */
  
  /* Landing Page Styling Starts Here */
  
  .banner-container{
    margin: 0px auto 0px auto;
  }
  
  .banner-container img{
      width: 90%;
      height: calc(70vh - 100px); 
      border-radius: 0px 0px 30px 30px;
  
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .main-text{
    line-height: 3rem;
    margin: 1.9rem 4rem;
    padding: 1.5rem;
    color: #050505;

  }
  
  .main-text h1{
    font-size: 2.2rem;
    text-align: center ;
    padding-bottom: 1.5rem;
  }
  
  .main-text p{
      text-align: justify;
      font-size: 1.8rem;
      line-height: 3rem;
  }
  
  .main-text ul{
    font-size: 1.5rem;
    text-align: justify;
  }

  /* Landing Page Styling Ends Here */
  
  /* Help */
  
  .help-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  
  /* About Us */
  
  .about-container h2{
      font-size: 3rem;
      color: #050505;
      padding-bottom: 1.5rem;
  }
  
  .about-container p {
      font-size: 1.8rem;
      color: #050505;
      padding-top: 1.5rem;
      text-align:justify;
  }
  
  /* Contacts */
  
  .contacts-container h2{
    font-size: 3rem;
    color: #050505;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem
    ;
    text-align: left;
  }
  
  .contacts-container h3{
    font-size: 1.8rem;
    text-align: start;
    color: #050505;
  }
  
  .contacts-container p {
    font-size: 1.5rem;
    color: #050505;
  }
  
  /* FAQ */
  
  .faq-container h2{
    font-size: 3rem;
    color: #050505;
    padding-bottom: 1.5rem;
  }
  
  .faq-text{
    border: 3px solid #111;
    padding: 1.8rem;
    margin: 0.8rem 0;
    background-color: #fff;
  }
  
  .faq-text h3{
    font-size: 1.5rem;
    text-decoration: underline;
    color: #050505;
  }
  
  .faq-container p {
    font-size: 1.5rem;
    color: #050505;
    padding-top: 1.5rem;
    text-align: justify;
  }
  
  /* CSE Coverage Styling Starts Here */
  h2, h3{
    text-align: center;
  }
  #questionnaire-main-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  .btn-exam{
    text-align: center;
    margin-top: 3rem;
  }
  #questionnaire-main-container h2, #questionnaire-main-container h3{
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }
  #questionnaire-main-container h4{
    font-size: 1.8rem;
  }
  #questionnaire-main-container ul{
    font-size: 1.5rem;
  }
  .btn-exam h5{
    font-size: 1.8rem;
  }
  .btn-exam button{
    margin-top: 1.5rem;
    font-size: 1.8rem;
  }
  /* CSE Coverage Styling Ends Here */
  
  /* Forms Styling Starts Here */
  
  .forms-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  #forms-header{
    font-size: 2rem;
    text-align: center;
    color: #111;
  }  
  #forms p{
    font-size: 1.5rem;
  }
  .forms-container button{
    width: 30rem;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 50px;
  }
  .forms-container button:focus{
    outline: 0px;
  }
  .forms-container button:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  .forms-container input{
    width: 30rem;
    font-size: 1rem;
    margin: 0.5rem 2.5rem 1rem 0;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 50px;
  }
  .forms-container input:focus{
    outline: 0px;
  }
  
  /* Forms Styling Ends Here */
  
  /* Quiz Styling Starts Here */
  
  .prof-level-container{
    background-color: #f7f3e9;
    padding: 2% 5% 2%;
  }
  
  .grid{
    background-color: #fff;
    padding: 0.8rem 0 3rem 0;
    border-radius: 10px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
  }
  
  .grid h2{
    background-color: #57636e;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    border-radius: 50px;
  }
  
  #question{
    font-size: 1.5rem;
    color: #111;
    text-align: center;
    margin: 0px 1.8rem 1.2rem 1.8rem;
  }
  
  .buttons{
    text-align: center;
  }
  
  #btn0, #btn1, #btn2, #btn3{
    background-color: #778897;
    width: 20rem;
    font-size: 1.3rem;
    color: #fff;
    border: 1px solid #111;
    border-radius: 30px;
    margin: 0.8rem 0.8rem 0.8rem 0.8rem;
    padding: 1rem;
  }
  
  #btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  
  #btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus{
    outline: 0px;
  }
  
  #score{
    color: #111;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 3.5rem;
  }
  #btnOp {
    background-color: #778897;
    width: 23rem;
    font-size: 1.8rem;
    color: #fff;
    border: 1px solid #111;
    border-radius: 50px;
    margin: 1.5rem 1.5rem 0.8rem 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  
  #btnOp:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  
  #btnOp:focus{
    outline: 0px;
  }
  
  
  #progress{
    color: #111;
    font-size: 2rem;
    text-align: center;
  }
  /* Quiz Styling Ends Here */
  
  /* Reviewer Styling Starts Here */
  
  .reviewer-container{
    background-color: #f7f3e9;
  }
  
  .reviewer-links-h2{
    font-size: 3.5rem;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
  }
  
  .reviewer-links {
    display: block;
    text-align: center;
    padding: 0 0 1.5rem 0;
    /* centralize the content */
  }
  .reviewer-links a {
    text-decoration: none;
  }
  
  .reviewer-img img {
    width: 30%;
    padding: 0.8rem 0.8rem;
    border-radius: 20px;
  }
  
  /* Reviewer Styling Ends Here */
  
  /* Footer Styling Starts Here */
  #footer-container{
    background-color: #536162;
    text-align: center;
    padding: 7% 15% 3%;
    line-height: 2.5rem;
  }
  /* Footer Styling Ends Here */
  }
  
  /* Design - Responsive */
  @media (min-width:1281px) {
  /* hi-res laptops and desktops */ 
  
  /* Header Styling Starts Here */
  .navbar-brand{
    font-size: 2.5rem;
  }
  #header-container{
    background-color: #5eaaa8;
    padding: 3% 10% 1%;
  }
  /* Header Styling Ends Here */
  
  /* Landing Page Styling Starts Here */
  
  .banner-container{
    margin: 0px auto 0px auto;
  }
  
  .banner-container img{
      width: 90%;
      height: calc(80vh - 100px); 
      border-radius: 0px 0px 30px 30px;
  
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .main-text{
    line-height: 3rem;
    margin: 2.8rem 6rem;
    padding: 1.5rem;
    color: #050505;

  }
  
  .main-text h1{
    font-size: 2.2rem;
    text-align: center ;
    padding-bottom: 1.5rem;
  }
  
  .main-text p{
      text-align: justify;
      font-size: 1.8rem;
      line-height: 3rem;
  }
  
  .main-text ul{
    font-size: 1.5rem;
    text-align: justify;
  }

  /* Landing Page Styling Ends Here */
  
  /* Help */
  
  .help-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
    line-height: 2.5rem;
  }
  
  /* About Us */
  
  .about-container h2{
      font-size: 3rem;
      color: #050505;
      padding-bottom: 1.5rem;
  }
  
  .about-container p {
      font-size: 2rem;
      color: #050505;
      padding-top: 1.5rem;
      text-align:justify;
  }
  
  /* Contacts */
  
  .contacts-container h2{
    font-size: 3rem;
    color: #050505;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: left;
  }
  
  .contacts-container h3{
    font-size: 2rem;
    text-align: start;
    color: #050505;
  }
  
  .contacts-container p {
    font-size: 1.5rem;
    color: #050505;
  }
  
  /* FAQ */
  
  .faq-container h2{
    font-size: 3rem;
    color: #050505;
    padding-bottom: 0.8rem;
  }
  
  .faq-text{
    border: 3px solid #111;
    padding: 1.5rem;
    margin: 2rem 0;
    background-color: #fff;
  }
  
  .faq-text h3{
    font-size: 2rem;
    text-decoration: underline;
    color: #050505;
  }
  
  .faq-container p {
    font-size: 1.5rem;
    color: #050505;
    padding-top: 0.8rem;
    text-align: justify;
  }
  
  /* CSE Coverage Styling Starts Here */
  h2, h3{
    text-align: center;
  }
  #questionnaire-main-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  .btn-exam{
    text-align: center;
    margin-top: 3rem;
  }
  #questionnaire-main-container h2, #questionnaire-main-container h3{
    font-size: 3rem;
    padding-bottom: 1.5rem;
  }
  #questionnaire-main-container h4{
    font-size: 2rem;
  }
  #questionnaire-main-container ul{
    font-size: 1.5rem;
  }
  .btn-exam h5{
    font-size: 1.5rem;
  }
  .btn-exam button{
    margin-top: 1.5rem;
    font-size: 2rem;
  }
  /* CSE Coverage Styling Ends Here */
  
  /* Forms Styling Starts Here */
  
  .forms-container{
    background-color: #f7f3e9;
    padding: 5% 15% 3%;
  }
  #forms-header{
    font-size: 2.5rem;
    text-align: center;
    color: #111;
  }  
  #forms p{
    font-size: 2rem;
  }
  .forms-container button{
    width: 30rem;
    padding: 0.8rem;
    border: 1px solid #111;
    border-radius: 50px;
    font-size: 1.5rem;
  }
  .forms-container button:focus{
    outline: 0px;
  }
  .forms-container button:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  .forms-container input{
    width: 30rem;
    font-size: 1.5rem;
    margin: 0.5rem 2.5rem 1.5rem 0;
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 50px;
  }
  .forms-container input:focus{
    outline: 0px;
  }
  
  /* Forms Styling Ends Here */
  
  /* Quiz Styling Starts Here */
  
  .prof-level-container{
    background-color: #f7f3e9;
    padding: 2% 5% 2%;
  }
  
  .grid{
    background-color: #fff;
    padding: 0.8rem 0 3rem 0;
    border-radius: 10px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
  }
  
  .grid h2{
    background-color: #57636e;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    border-radius: 50px;
    margin: 0.5rem 2.2rem 0.5rem 2.2rem;
  }
  
  #question{
    font-size: 2rem;
    color: #111;
    text-align: center;
    margin: 0 1.5rem 0 1.5rem;
  }
  
  .buttons{
    text-align: center;
  }
  
  #btn0, #btn1, #btn2, #btn3{
    background-color: #778897;
    width: 30rem;
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid #111;
    border-radius: 30px;
    margin: 1.5rem 0.8rem 1.5rem 0.8rem;
    padding: 1.3rem;
  }
  
  #btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  
  #btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus{
    outline: 0px;
  }
  
  #score{
    color: #111;
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
  }
  #btnOp {
    background-color: #778897;
    width: 30rem;
    font-size: 2rem;
    color: #fff;
    border: 1px solid #111;
    border-radius: 50px;
    margin: 1.5rem 1.2rem 0.8rem 1.2rem;
    padding: 0.8rem;
    text-align: center;
  }
  
  #btnOp:hover{
    cursor: pointer;
    background-color: #57636e;
  }
  
  #btnOp:focus{
    outline: 0px;
  }
  
  
  #progress{
    color: #111;
    font-size: 2rem;
    text-align: center;
  }
  /* Quiz Styling Ends Here */
  
  /* Reviewer Styling Starts Here */
  
  .reviewer-container{
    background-color: #f7f3e9;
  }
  
  .reviewer-links-h2{
    font-size: 3rem;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
  }
  
  .reviewer-links {
    display: block;
    text-align: center;
    padding: 0 0 1.5rem 0;
    /* centralize the content */
  }
  .reviewer-links a {
    text-decoration: none;
  }
  
  .reviewer-img img {
    width: 28%;
    padding: 0.8rem 0.8rem;
    border-radius: 20px;
  }
  
  /* Reviewer Styling Ends Here */
  
  /* Footer Styling Starts Here */
  #footer-container{
    background-color: #536162;
    text-align: center;
    padding: 7% 15% 3%;
    line-height: 2.5rem;
  }
  /* Footer Styling Ends Here */
  }

